[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kiwisolver = "==1.0.1"
matplotlib = "==3.5.1"
numpy = "==1.22.0"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
requests = "==2.20.0"
six = "==1.11.0"
Cycler = "==0.10.0"
pipenv="2022.1.8"
pillow = "==9.3.0"

[dev-packages]

[requires]
python_version = "3.9"
